.item {
    background-color: #2d3042;
    padding: 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item img {
    width: 100%;
    margin: auto;
}
